<br>
<h4>Transition: Scale</h4>
<modal transition="scale">
  <a class="ui purple button" ng-click="openModal()">
    Open Modal
  </a>
  <div class="ui modal">
    <i class="close icon" ng-click="closeModal()"></i>
    <div class="header">
      Header
    </div>
    <div class="content">
      Main content goes here for scale.
    </div>
    <div class="actions">
      <div class="ui blue button">
        Ok
      </div>
      <div class="ui button" ng-click="closeModal()">
        Cancel
      </div>
    </div>
  </div>
</modal>
<br>
<h4>Transition: Vertical Flip</h4>
<modal transition="vertical flip">
  <a class="ui purple button open" ng-click="openModal()">
    Open Modal
  </a>
  <div class="ui modal">
    <i class="close icon" ng-click="closeModal()"></i>
    <div class="header">
      Header
    </div>
    <div class="content">
      Main content goes here for vertical flip.
    </div>
    <div class="actions">
      <div class="ui blue button">
        Ok
      </div>
      <div class="ui button" ng-click="closeModal()">
        Cancel
      </div>
    </div>
  </div>
</modal>